Repository FnrDev/slash-locale, changes with the labels that .github/labeler.yml gives for each.
All labels: chore, ci, Arabic, English

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

ci: Add pull request template
  .github/PULL_REQUEST_TEMPLATE.yml
Labels: ci

add mod category strings
  en-US/bot.json
Labels: English

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

New translations bot.json (English)
  en-US/bot.json
Labels: English

contribute
  README.md
Labels: chore

typo
  en-US/bot.json
Labels: English

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

New translations bot.json (English)
  en-US/bot.json
Labels: English

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

typo
  en-US/bot.json
Labels: English

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

New translations bot.json (English)
  en-US/bot.json
Labels: English

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

add logs strings
  en-US/bot.json
Labels: English

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

New translations bot.json (English)
  en-US/bot.json
Labels: English

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

add join/leave strings
  en-US/bot.json
Labels: English

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

New translations bot.json (English)
  en-US/bot.json
Labels: English

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

fix badge strings
  en-US/bot.json
Labels: English

Update source file bot.json
  en-US/bot.json
Labels: English

New translations bot.json (Arabic)
  ar-SA/bot.json
Labels: Arabic

chore: Add pull request title
  crowdin.yml
Labels: none

.github/labeler.yml:

chore:
  - 'README.md'
  - 'package.json'

ci:
  - '.github/*'
  - '.github/workflows/*'

Arabic:
  - 'ar-SA/*'

English:
  - 'en-US/*'
  - 'en/*'
